<div class="my-flex" *ngIf="filmes">

  <div class="row" *ngFor="let filme of filmes.results">
    <mat-card class="example-card" (click)="verfilme(filme.id)">
      <mat-card-header>
        <mat-card-title>{{filme.title | limitTo: 25}}</mat-card-title>
        <mat-card-subtitle>{{filme.release_date | date: 'dd/MMMM/yyyy' }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image width="400px" height="400px" [src]="filme | filmeImagem" alt="Card image cap" />
      <div class="conteudo">
        <mat-card-content style="float: right">
          <p>
            {{filme.overview | limitTo: 160}}
          </p>
          <p> <button [routerLink]="['/filme', filme.id]" mat-button>Saiba mais</button></p>
        </mat-card-content>
      </div>

    </mat-card>

  </div>

</div>